.header{
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0;
    color: white;
    padding: 35px;
    justify-content: space-between;
    width: 100%;
    font-weight: 300;
    box-sizing: border-box;
    align-items: center;    
    
    .logo{
        display: flex;
        cursor: pointer;
        p{
            margin: 0px;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        .name{
            display: flex;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 5px;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        &:hover{
            .copyright{
                transform: rotate(360deg);
            }
        }
    }
    .localtime {
        display: flex;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .text {
            font-weight: bold;
            text-align: center;
        }
    }
    .navUnderline{
        display: flex;
        div{
            display: flex;
            gap: 10px;
            padding: 15px;
            align-items: flex-end;
            a{
                margin: 0px;
                padding: 2.5px;
                cursor: pointer;
            }
            a{
                &::after{
                    content: "";
                    width: 0%;
                    height: 1px;
                    background-color: white;
                    display: block;
                    margin-top: 2px;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: width 0.2s linear;
                }
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
        
    }
}
.headerButtonContainer{
    transform: scale(0);
    position: fixed;
    right: 0px;
    z-index: 4;

    .button{
        position: relative;
        margin: 20px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #1C1D20;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .burger{
        width: 100%;
        position: relative;
        z-index: 1;
        &::after, &::before{
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: white;
            position: relative;
            transition: transform 0.3s;
        }
    
        &::after{
            top: -5px;
        }
    
        &::before{
            top: 5px;
        }
    }
    
    .burgerActive{
    
        &::after{
            transform: rotate(45deg);
            top: -1px;
        }
    
        &::before{
            transform: rotate(-45deg);
            top: 0px;
        }
        
    }
}


